@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}
.red {
    color: #c16ecf;
    margin-top: 5%;
}

.purple {
    color: #c16ecf;
}

.rem{
    display: inline-block;
}


.fix-menu{
    padding-top: 10px;
}

.text-center {
    text-align: center;
}

.text-center-r {
    text-align: center;
    margin-bottom: 15px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;

}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;
}

.buttonPurple, .buttonGreen, .buttonRed {
    background-color: #4CAF50; /* Green */
    outline: none;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    width: 230px;
}

.buttonQuit {

    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    width: 180px;
    background-color: white;
    color: black;
    border: 2px solid #f14e4e;

}

.buttonQuit:hover{
    background-color: #f14e4e;
    color: #ffffff;
    border: 2px solid #f14e4e;
}

.buttonPurple {
    background-color: white;
    color: black;
    border: 2px solid #c16ecf;
}

.buttonPurple:hover{
    background: #c16ecf;
    color: white;
}

.buttonGreen {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.buttonGreen:hover{
    background-color: white;
    color: black;

}

.buttonRed {
    background: #f14e4e;
    color: white;
    border: 2px solid #f14e4e;
}

.buttonRed:hover{
    background-color: white;
    color: black;

}

.form button:hover,.form button:active,.form button:focus {
    background: white;
    color: #c16ecf;
    border: 2px solid #c16ecf;
}
.form .message {
    margin: 15px 0 0;
    font-size: 12px;
}
.form .message a {
    color: #c16ecf;
    text-decoration: none;
}

.container {
    padding-bottom: 5%;
    margin-top: 5%;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-errors{
    color: white;
}

.bg-danger{
    list-style-type: none;
}

.text-danger{
    padding: 5px;
    background-color: #f14e4e;
    list-style-type: inside;
    margin: 5px;
    border: 2px solid #965f5f;
    border-radius: 10px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    color: white;
    padding: 15px;
    justify-content: space-around;
    display: flex;
    height: 100px; //same height as the margin to the bottom of the body

}

@media (max-width: 600px){
    .footer{
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: space-between;
    }

    .container{
        margin-bottom: 115px;
        margin-top: 80px;
    }

    .center{
        width: 90%;
        padding-bottom: 10%;
        margin-bottom: 50% !important;
        margin-top: 30% !important;
    }

    .game-image{
        max-width: 90%;
        width: 80%!important;
    }

    .learn-image{
        max-width: 70%;
        width: 80%!important;
    }

    .useCase-image{
        max-width: 90%;
    }

    .container-buttons{
        flex-direction: column;
    }

    .difficulty-button{
        margin: 5px !important;
    }

    .difficulty-button-fromDifficulty{
        width: 70%!important;
        margin: 5px auto 0!important;
    }

    margin-1{
        margin-bottom: 3%;
        margin-top: 3%;

    }

}

#documentationLink{
    text-decoration: none;
    color: #FFFFFF;

}

#documentationLink1{
    text-decoration: none;
    color: #FFFFFF;

}


#documentationLink2{
    text-decoration: none;
    color: #FFFFFF;

}

#documentationLink3{
    text-decoration: none;
    color: #FFFFFF;

}

#githubList{
    list-style-type: none;
}

.margins-githubList{
    margin: 5px;
}

.padding-footer{
    padding-top: 25px;
}

.container1{
    width: 65%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

html{
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;

}

.content{
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.game-image{
    width: 50%;
}

.learn-image{
    width: 50%;
}

.useCase-image{
    width: 750px;
}

.difficulty-button{
    display:inline-block;
    padding:0.8em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

.difficulty-button-instruction{
    display:block;
    width: 200px;
    margin: 5px;
}

.difficulty-button-fromDifficulty{
    display: block;
    width: 500px;
    height: 50px;
    margin: 5px auto 0;
}

.button-easy{
    background-color:#f14e4e;
}
.button-medium{
    background-color:#f1bb4e;
}
.button-hard{
    background-color:#84f14e;
    background-color:#4ef18f;
}

.margin-1{
    margin-bottom: 1%;
    margin-top: 1%;
}
margin-3{
    margin-bottom: 3%;
    margin-top: 3%;
}
 .no-bullets {
     list-style-type: none;
 }

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 8%;
}

.container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-buttons-diff{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.margin-btm{
    margin-bottom: 5%;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color:#f14e4e;
    color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

p {
    text-indent: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}


#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 3em;
    padding: 20px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.toc_title {
    font-weight: 700;
    text-align: left;
}

#toc_container a{
    text-decoration: none;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

#toc_container li {
    padding: 5px 10px !important;
}

.margin-top-ToC{
    margin-top: -150px;
    padding-top: 150px;
}

.rss-image{
    max-height: 50px;
    z-index: 0;
    transform: translateY(+10px);
    overflow: hidden;
}

.profileLabel{
    font-size: large;


}
.mrg-top{
    margin-top: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-card {
    border-radius: 5px 5px 0 0;
}

.container-card {
    padding: 2px 16px;
}

.a-cards{
    text-decoration: none;
    color: #c16ecf;
}

.flex-container {
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #c16ecf;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
@media (max-width: 600px){
    .card{
        width: 90%;
    }
}

.crud-button{
    font-family: inherit;
    font-size: 16px;
    font-weight:400;
    display:inline-block;
    color:#FFF;
    border-radius: .25em;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
}
.primary {
    line-height:40px;
    transition:ease-in-out .2s;
    padding: 0 16px;
}
.new {
    background: #2ecc71;
}
.edit {
    background: #3498db;
}
.delete {
    background: #c0392b;
}
.save {
    background: #8e44ad;
}
.cancel {
    background: #555;
}
.question-title{
    margin: 2rem;
}
.stats{
    position: fixed;
    z-index: 10;
    top: 10%;
    right: 3%;
}

.fancy-spinner {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}
.fancy-spinner div {
    margin-top: 5rem;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.fancy-spinner div.ring {
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent;
    animation: 2s fancy infinite alternate;
}
.fancy-spinner div.ring:nth-child(1) {
    border-left-color: #979fd0;
    border-right-color: #979fd0;
}
.fancy-spinner div.ring:nth-child(2) {
    border-top-color: #979fd0;
    border-bottom-color: #979fd0;
    animation-delay: 1s;
}
.fancy-spinner div.dot {
    width: 1rem;
    height: 1rem;
    background: #979fd0;
}
#learn-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes fancy {
    to {
        transform: rotate(360deg) scale(0.5);
    }
}

.story-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.smaller-img{
    width: 25%;
}

.smaller-header{
    width: 45%;
}