@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}
.red {
    color: #c16ecf;
    margin-top: 5%;
}

.rem{
    display: inline-block;
}


.fix-menu{
    padding-top: 10px;
}

.text-center {
    text-align: center;
}

.text-center-r {
    text-align: center;
    margin-bottom: 15px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;

}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;
}

#buttonPurple, #buttonGreen, #buttonRed {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    width: 180px;
}

#buttonPurple {
    background-color: white;
    color: black;
    border: 2px solid #c16ecf;
}

#buttonPurple:hover{
    background: #c16ecf;
    color: white;
}

#buttonGreen {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#buttonGreen:hover{
    background-color: #4CAF50;
    color: white;
}

#buttonRed {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
}

#buttonRed:hover{
    background: #ff0000;
    color: white;
}

.form button:hover,.form button:active,.form button:focus {
    background: white;
    color: #c16ecf;
    border: 2px solid #c16ecf;
}
.form .message {
    margin: 15px 0 0;
    font-size: 12px;
}
.form .message a {
    color: #c16ecf;
    text-decoration: none;
}

.container {
    padding-bottom: 5%;
    margin-top: 5%;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-errors{
    color: white;
}

.bg-danger{
    list-style-type: none;
}

.text-danger{
    padding: 5px;
    background-color: #f14e4e;
    list-style-type: inside;
    margin: 5px;
    border: 2px solid #965f5f;
    border-radius: 10px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    color: white;
    padding: 15px;
    justify-content: space-around;
    display: flex;
    height: 100px; //same height as the margin to the bottom of the body

}

@media (max-width: 600px){
    .footer{
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: space-between;
    }

    .container{
        margin-bottom: 115px;
        margin-top: 80px;
    }
}

#documentationLink{
    text-decoration: none;
    color: #FFFFFF;

}

#githubList{
    list-style-type: none;
}

.margins-githubList{
    margin: 5px;
}

.padding-footer{
    padding-top: 25px;
}

.container1{
    width: 65%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

html{
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;

}

.content{
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.game-image{
    width: 400px;
    height: auto;
}
.difficulty-button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}
.button-easy{
    background-color:#f14e4e;
}
.button-medium{
    background-color:#f1bb4e;
}
.button-hard{
    background-color:#84f14e;
    background-color:#4ef18f;
}

.margin-1{
    margin-bottom: 1%;
    margin-top: 1%;
}
 .no-bullets {
     list-style-type: none;
 }

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 25px;
}
