body{
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 100px;
}
.map{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}
.continent{
    display: block;
    text-decoration: none;
}
.continent-image{
    width: 100px;
    height: 100px;
}

.america-container{
    grid-row: 1/3;
}
.america-image{
    height: 100%;
    width: 70%;
}
.america-text{
    position:relative;
    top: -60%;
    left: 40%;

}

.europe-image{
    height: 70%;
    width: 50%;
    transform: translateY(5%);
}
.europe-text{
    z-index: 3;
    position: relative;
    top: -20%;
    left: 35%;

}
.africa-image{
    height: 100%;
    width: 50%;
    transform: translateY(-30%);
}
.africa-text{
    z-index: 3;
    position: relative;
    top: -75%;
    left: 30%;
}

.asia-image{
    height: 100%;
    width: 60%;
    transform: translateX(-40%);

}
.asia-text{
    z-index: 3;
    position: relative;
    top: -50%;
    left: 10%;
}


.australia-image{
    height: 100%;
    width: 60%;
}
.australia-text{
    z-index: 3;
    position: relative;
    top: -40%;
    left: 40%;
}

.text{
    color: white;
    font-weight: bolder;
    font-size: large;
}