RewriteEngine On

# Block access to indexes and files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Skip rewrite engine for the base folders
RewriteCond $1 !^(config|core|css|js|fonts|robots\.txt)

# Rewrite to the index
RewriteRule ^(.+)$ index.php/$1 [L]